{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
<nav class="flex-1 space-y-1 px-2 pb-4">
  {{ menus.menu_links(items, attributes, 0) }}
</nav>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes }}>
      {% for item in items %}
        {% set classes = [
          item.in_active_trail ? 'bg-stone-800',
          'hover:bg-stone-900',
          'text-white',
          'group',
          'flex',
          'items-center',
          'px-2',
          'py-2',
          'text-sm',
          'font-medium',
          'rounded-md',
        ] %}
        <li{{ item.attributes.addClass(classes) }}>
          <a href="{{ item.url.toString }}" class="flex flex-grow items-center">
          <svg class="mr-3 h-6 w-6 flex-shrink-0 text-stone-300"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" aria-hidden="true">
          {% if item.route_name == 'entity.collection_item.collection' %}
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
          {% elseif item.route_name == 'whiskeydex.browse_whiskeys' %}
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          {% endif %}
          </svg>
          {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
