{% if logged_in %}
<div class="group inline-block relative">
  <a href="{{ url('user.page') }}">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span class="sr-only">{{ user.getDisplayName }}</span>
  </a>
  <ul class="text-sm hidden group-hover:block bg-white shadow-md divide-y divide-gray-100 rounded absolute right-0 w-40">
  {% for item in items %}
    {%
      set classes = [
      'menu-item',
      item.in_active_trail ? 'menu-item--active-trail',
      'text-stone-800',
      'hover:text-stone-500',
      'px-4',
      'py-2',
    ]
    %}
    <li{{ item.attributes.addClass(classes) }}>
      {{ link(item.title, item.url) }}
    </li>
  {% endfor %}
</ul>
</div>

{% else %}
<ul{{ attributes.addClass('flex space-x-4 text-sm') }}>
  {% for item in items %}
    {%
      set classes = [
      'menu-item',
      item.in_active_trail ? 'menu-item--active-trail',
      'text-stone-800',
      'hover:text-stone-500'
    ]
    %}
    <li{{ item.attributes.addClass(classes) }}>
      {{ link(item.title, item.url) }}
    </li>
  {% endfor %}
</ul>

{% endif %}
